{% extends "home/header.html" %}

{% block content %}
	<main>
		<div id="lights" class="switch_panel">
			<div id="light_image"></div>
			<div id="buttons" class="buttons">
			<div class="switch"><a id="1"  href="#">
				<label class="slider_switch">
  					<input type="checkbox">
  					<span class="slider round"><p>Bedroom</p></span>
				</label></a>
			</div>
			<div id="2" class="switch">
				<label class="slider_switch">
  					<input type="checkbox">
  					<span class="slider round"><p>Bathroom</p></span>
				</label>
			</div>
			<div id="3" class="switch">
				<label class="slider_switch">
  					<input type="checkbox">
  					<span class="slider round"><p>Kitchen</p></span>
				</label>
			</div>
			<div class="switch">
				<label class="slider_switch">
  					<input type="checkbox">
  					<span class="slider round"><p>Lounge</p></span>
				</label>
			</div>
			<div class="switch">
				<label class="slider_switch">
  					<input type="checkbox">
  					<span class="slider round"><p>Outside</p></span>
				</label>
			</div>
			</div>
		</div>

		<div id="utilities" class="switch_panel">
			<div id="utility_image"></div>
			<div class="buttons utility_button">
				<div class="switch" id="utility_switch_1">
					<button class="btn" id=btn_1>Kettle</button>
				</div>

				<div class="switch" id="utility_switch_2">
					<button class="btn" id=btn_2>Heater</button>
				</div>

				<div class="switch" id="utility_switch_3">
					<button class="btn" id=btn_3>TV</button>
				</div>

				<div class="switch kill_switch" id="kill_switch">
					<button class="kill_btn" id="kill_btn">	</button><h3>All Off</h3>
				</div>
			</div>
		</div>		
	</main>
{% endblock %}