{% extends "home/header.html" %}

{% block content %}
<main id="buttons">
<!-- 
{% for state in state.object_list %}
<a class="{{state.state}}" id="{{state.id}}" href="/{{state.id}}"><div class="submit"></div></a>
{% endfor %} -->
	<a class="off" id="1" href="#">Bed </a>

	
	<a class="off" id="2" href="#">Bath</a>

	<a class="off" id="3" href="#">Beyond</a>


	<!-- <a class="off" id="4" href="#"><div class="submit3"></div></a>
	<a class="off" id="5" href="#"><div class="submit4"></div></a>
	<a class="off" id="6" href="#"><div class="submit5"></div></a>
	<a class="off" id="7" href="#"><div class="submit6"></div></a>
	<a class="off" id="8" href="#"><div class="submit7"></div></a> -->
		
	</main>

{% endblock %}