/* The switch - the box around the slider */
.slider_switch {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 65px;
}

/* Hide default HTML checkbox */
.slider_switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: none;
  -webkit-transition: 1s;
  transition: 1s;
  border: 5px solid #9e37cb;
}
.slider p{
  color:  #9e37cb;
  font-family: 'Comfortaa', cursive;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 1.5em;
  transform:  translateY(-25%); 
  transition: 1s;
  -webkit-transition: 1s;
  position:  absolute;
  top:  -4px;
  right: 6px;
}
.slider p:before{
  -webkit-transition: 1s;
  transition: 1s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 4em;
  width: 4em;
  left: -5.5px;
  top: -4.5px;
  background: url('../Rasberry HA icon Bedroom 2.png') 50% 50% no-repeat;
  -webkit-transition: 1s;
  transition: 1s;
  background-size: cover;
}

input:checked + .slider {
  background-color: none;
  border: 5px solid #4717F6;
}
input:checked + .slider p{
  left: 6px;
  color: #4717f6;
}
input:focus + .slider {
  box-shadow: none;
  
}

input:checked + .slider:before {
  transform: translateX(137px)
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

